.Rectangle2{    
    position: absolute;
    width: 1920px;
    height: 199px;
    left: 0px;
    top: 0px;
    
    background: #2C0C8D;
    
    }
    
    .Rectangle1{
    position: absolute;
    width: 210px;
    height: 210px;
    left: 50px;
    top: 49px;
    
    background: url("Burger_King_logo_(1999).svg");
    
    
    }
    
    .Rectangle3{
        position: absolute;
        width: 1619px;
        height: 98px;
        left: 143px;
        top: 303px;
        
        background: #213591;
        z-index: -1;
    }
    
    .Rectangle24{
        position: absolute;
        width: 488px;
        height: 52px;
        left: 1202px;
        top: 326px;
        
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
    }
    
    .Menubar{
        position: absolute;
        width: 407px;
        height: 32px;
        left: 260px;
        top: 334px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 32px;
        /* identical to box height */
        
        
        color: #FFFFFF;
    }
   
    .Menubar a{
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 32px;
        /* identical to box height */
        
        
        color: #FFFFFF;
    }

         
    .Location{
        position: absolute;
        width: 165px;
        height: 42px;
        left: 175px;
        top: 553px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        
        color: #868686;
    
    }
    
    .Rectangle25{
        position: absolute;
        width: 1592px;
        height: 556px;
        left: 170px;
        top: 694px;
        
        background: url("Rectangle 25.png");
    }
    
    .image_1{
        position: absolute;
        width: 216px;
        height: 233px;
        left: 876px;
        top: 1342px;
        
        background: url("image1.png");
    }
    
    .Rectangle26{
    position: absolute;
    width: 431px;
    height: 28px;
    left: 718px;
    top: 1547px;
    z-index: 2;
    
    background: #FFFFFF;
    
    }
    
    .Address{
        position: absolute;
        width: 565px;
        height: 28px;
        left: 673px;
        top: 1613px;
        
        font-family: Roboto;
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        
        color: #000000;
        
    }
    
    .Rights{
        position: absolute;
    width: 1025px;
    height: 40px;
    left: 443px;
    top: 1868px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */
    
    
    color: #68085A;
    
    }
    
    .Sign{
        position: absolute;
    width: 254px;
    height: 42px;
    left: 825px;
    top: 1937px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    
    color: #000000;
    }
    
    .Rectangle23{
        position: absolute;
        width: 171px;
        height: 48px;
        left: 867px;
        top: 1981px;
        
        background: #213591;
        border-radius: 9px;
    }
    
    .Top{
    position: absolute;
    width: 141px;
    height: 28px;
    left: 883px;
    top: 1991px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    
    color: #FFFFFF;
    }
    
    .Rectangle21{
        position: absolute;
    width: 1920px;
    height: 358px;
    left: 0px;
    top: 2160px;
    
    background: #3D0234;
    }
    
    .text1{
        position: absolute;
        width: 252px;
        height: 19px;
        left: 858px;
        top: 2263px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        
        text-align: center;
        
        color: #FFFFFF;
        
    }
    
    .text2{
        position: absolute;
        width: 305px;
        height: 19px;
        left: 831px;
        top: 2300px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        
        text-align: center;
        
        color: #FFFFFF;
        
    }
    
    .text3{
        position: absolute;
        width: 915px;
        height: 26px;
        left: 680px;
        top: 2348px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 0%;
        /* or 0px */
        
        display: flex;
        align-items: flex-end;
        text-align: center;
        
        
        color: #FFFFFF;
            
    }
    
    .Rectangle27{
        position: absolute;
        width: 1587px;
        height: 635px;
        left: 175px;
        top: 634px;
        
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Hunter{
    position: absolute;
    width: 407px;
    height: 56px;
    left: 784px;
    top: 665px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #000000;

    }

    .Lorem{
        position: absolute;
        width: 841px;
        height: 173px;
        left: 801px;
        top: 769px;
        
        font-family: Roboto;
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        
        color: #000000;
         
    }

    .Rectangle28{
        position: absolute;
        width: 518px;
        height: 506px;
        left: 213px;
        top: 665px;
        
        background: url("Cheesburger-01e0a43.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .Price{
        position: absolute;
        width: 55px;
        height: 28px;
        left: 784px;
        top: 969px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        
        color: #868686;
         
    }

    .Off{
        position: absolute;
        width: 242px;
        height: 42px;
        left: 784px;
        top: 1016px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        
        color: #000000;

    }

    .Rectangle29{
        position: absolute;
        width: 402px;
        height: 86px;
        left: 784px;
        top: 1085px;
        
        background: #881E26;
    }

    .Pay{
        position: absolute;
    width: 251px;
    height: 42px;
    left: 851px;
    top: 1107px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
        }